@use '../utils/' as u;

.features {
        color: u.$color-purple-900 ;
        background-color: u.$color-purple-100;

        &__wrapper {
                background-color: u.$color-purple-100;
                display: flex   ;
                flex-direction: column;
                padding-block: 64px;
                gap: 32px;
        
                @include u.breakpoint(medium) {
                        padding-block-start: 56px;
                        padding-block-end: 44px;
                }
        
                @include u.breakpoint(large) {
                        flex-direction: row;
                        padding-block-start: 88px;
                        padding-block-end: 144px;
                }
        }

        &__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 24px;

                @include u.breakpoint(medium) {
                        gap: 56px;
                        flex-direction: row;
                        justify-content: flex-start;
                        text-align: start;
                }

                @include u.breakpoint(large) {
                        flex-direction: column;
                        text-align: center;
                }
        }

        &__number {
                display: flex;
                justify-content: center;
                align-items: center;
                min-block-size: clamp(u.rem(48), 2.7413793103448274rem + 1.103448275862069vw, u.rem(56));
                min-inline-size: clamp(u.rem(48), 2.7413793103448274rem + 1.103448275862069vw, u.rem(56));
                border-radius: 50%;
                border: 1px solid u.$color-purple-500;
                font-family: 'Fraunces', serif;
                font-size: clamp(u.rem(20), 1.1206896551724137rem + 0.5517241379310345vw, u.rem(24));
        }

        &__text {
                display: flex;
                flex-direction: column;
                gap: 16px;

                @include u.breakpoint(medium) {
                        gap: 28px;
                }
        }

        &__curve {
                block-size: clamp(u.rem(24), -0.05172413793103425rem + 6.620689655172413vw, u.rem(72));
                position: relative;
                overflow-x: hidden;
                background-color: u.$color-white;

                &::after {
                        content: '';
                        position: absolute;
                        height: 600vw;
                        width: 600vw;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        background-color: u.$color-purple-100;
                        border-radius: 50%;
                }
        }
}