@use '../utils' as u;


.footer {
    padding-block: 80px;

    &__wrapper {
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        inline-size: 116px;
        block-size: 100.61px;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        &:hover {
            path {
                fill: u.$color-purple-900;
            }
        }
    }

    &__icon {
        path {
            transition: fill 150ms ease-in-out;
        }
    }
}