@use '../utils' as u;

.hero {
    text-align: center;
    overflow-x: hidden;
    
    &__wrapper {
        background-color: u.$color-purple-900;
    }

/*     &::before {
        transition: all 300ms ease-in-out;
        @include u.breakpoint(medium) {
            content: '';
            background-image: url(../../assets/images/bg-pattern-1.svg);
            background-size: 100% 100%;
            position: absolute;
            block-size: u.rem(215);
            inline-size: u.rem(270);
            inset-inline-start: u.rem(-172);
            inset-block-start: u.rem(138);
        }

        @include u.breakpoint(large) {
            inset-inline-start: u.rem(-89);
            inset-block-start: u.rem(138);
        }
    } */

/*     &::after {
        transition: all 300ms ease-in-out;


        @include u.breakpoint(medium) {
            content: '';
            background-image: url(../../assets/images/bg-pattern-2.svg);
            background-size: 100% 100%;
            position: absolute;
            block-size: u.rem(141);
            inline-size: u.rem(112);
            inset-inline-end: u.rem(-61);
            inset-block-start: u.rem(280);
        }

        @include u.breakpoint(large) {
            inset-inline-end: u.rem(-45.68);
            inset-block-start: u.rem(342);
        }

    } */


    &__title {
        color: u.$color-white;
        margin-block-end: u.rem(40);
        max-inline-size: 12ch;
        margin-inline: auto;
    }

    &__button {
        margin-block-end: clamp(u.rem(64), 3.471830985915493rem + 2.253521126760563vw, u.rem(88));
    }

    &__img-wrapper {
        width: 100%;
        position: relative;
        background-color: u.$color-purple-100;
        z-index: -2;
        overflow-x: hidden;

        &::after {
            content: '';
            position: absolute;
            height: 600vw;
            width: 600vw;
            left: 50%;
            bottom: 40%;
            transform: translateX(-50%);
            background-color: u.$color-purple-900;
            border-radius: 50%;
            z-index: -1;
        }
    }

    &__img {

        position: relative;
        z-index: 1;
        max-inline-size: u.rem(767);
    }
}