@use '../utils' as u;

.hero {
    background-color: u.$color-purple-900;
    
    &__wrapper {
        display: grid;
        place-items: center;
    }
    
    &__title {
        color: u.$color-white;
        margin-block-end: u.rem(40);
        max-inline-size: 12ch;
        text-align: center;
    }

    &__button {
        margin-block-end: clamp(u.rem(64), 3.471830985915493rem + 2.253521126760563vw, u.rem(88));
    }

    &__img {
        max-inline-size: u.rem(767);
    }
}