@use '../utils/' as u;

.button {
    display: inline-block;
    color: u.$color-purple-900;
    background-color: u.$color-green;
    padding-inline: u.rem(32);
    padding-block: u.rem(12);

    &:hover {
        background-color: u.$color-purple-900;
        outline: 2px solid u.$color-green;
        outline-offset: -2px;
        color: u.$color-green;
    }
}