@use '../utils/' as u;

html,
main,
body {}

body {
    min-block-size: 100vh;
    inline-size: 100%;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}