/* fraunces-600 */
@font-face {
    font-display: swap;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/fraunces/fraunces-v32-latin-600.woff2') format('woff2');
}

/* manrope-regular */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/manrope/manrope-v15-latin-regular.woff2') format('woff2');
}

/* manrope-700 */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/manrope/manrope-v15-latin-700.woff2') format('woff2');
}