@use '../utils/' as u;

body {
    font-family: 'Manrope', serif;
    font-size: 100%;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'Fraunces', serif;
    font-weight: 400;

    span {
        display: inline-block;

        &::after {
            content: '';
            block-size: 3px;
            display: block;
            background-color: u.$color-green;
        }
    }
}

h2,
h3 {
    line-height: 1.2;
}

p,
a {
    line-height: 1.78;
}

button {
    line-height: 1.8;
}

h1 {
    font-size: clamp(u.rem(48), 2.295774647887324rem + 3.004694835680751vw, u.rem(80));
    line-height: 1;
}

h2 {
    font-size: clamp(u.rem(32), 1.471830985915493rem + 2.253521126760563vw, u.rem(56));
}

h3 {
    font-size: clamp(u.rem(24), 1.323943661971831rem + 0.7511737089201878vw, u.rem(32));
}

p,
button {
    font-size: clamp(u.rem(16), 0.9559859154929577rem + 0.18779342723004694vw, u.rem(18));
}

button,
a {
    font-weight: 700;
}

a {
    font-size: u.rem(18);
}